<div class="ease-line info-data">Animation begins at full velocity and ends with easing.</div>

<div class="ease-line" ng-show="tab == 'Android'">
  <a class="info-label" href="https://developer.android.com/reference/android/support/v4/view/animation/LinearOutSlowInInterpolator.html">LinearOutSlowInInterpolator</a>
</div>

<div class="ease-line" ng-show="tab == 'iOS'">
  <a class="info-label" href="https://developer.apple.com/library/mac/documentation/Cocoa/Reference/CAMediaTimingFunction_class">[[CAMediaTimingFunction alloc] initWithControlPoints:0.0f:0.0f:0.2f:1.0f];</a>
</div>

<div class="ease-line" ng-show="tab == 'CSS'">
  <a class="info-label" href="http://cubic-bezier.com/#0,0,0.2,1">cubic-bezier(0.0, 0.0, 0.2, 1);</a>
</div>
