<div class="ease-line info-data">Animation begins with easing and ends at full velocity.</div>

<div class="ease-line" ng-show="tab == 'Android'">
  <a class="info-label" href="https://developer.android.com/reference/android/support/v4/view/animation/FastOutLinearInInterpolator.html">FastOutLinearInInterpolator</a>
</div>

<div class="ease-line" ng-show="tab == 'iOS'">
  <a class="info-label" href="https://developer.apple.com/library/mac/documentation/Cocoa/Reference/CAMediaTimingFunction_class">[[CAMediaTimingFunction alloc] initWithControlPoints:0.4f:0.0f:1.0f:1.0f];</a>
</div>

<div class="ease-line" ng-show="tab == 'CSS'">
  <a class="info-label" href="http://cubic-bezier.com/#0.4,0,1,1">cubic-bezier(0.4, 0.0, 1, 1);</a>
</div>
